.flip-section {
    min-height: 100vh;
    padding: 1em 2em;

    padding-top: 10vh;
}

.flip-section-one,
.flip-section-two {
    display: flex;
    justify-content: space-between;

    height: 45vh;
    width: 100%;
}

.flip-section-one-heading,
.flip-section-two-heading {
    width: 45%;
    max-width: 45%;
    margin: 0px;
    font-size: 50px;
}

.flip-section-one-heading {
    text-align: left;
}

.flip-section-two-heading {
    margin-left: auto;
    text-align: right;
}