.new-section {
    display: flex;
    /* min-height: 100vh; */
    padding: 0em 2em;
}


.new-section-heading {
    display: flex;
    align-items: center;

    margin: 0;
}

.new-section-heading-text {
    font-size: 50px;
    text-align: left;
}


.section-for-incoming-element {
    width: 30px;
    height: 30px;
    display: inline-block;
}


/* .football-image {
    min-width: 30px !important;
    min-height: 30px !important;

    max-width: 30px !important;
    max-height: 30px !important;

} */