/* FULL SIZE IMAGES E.G 100vh */

/* .showcase-section {
  min-height: 100vh;
}

.main-heading {
  font-size: 60px;
}

.scroll-container {
  flex-wrap: nowrap;

  display: flex;
  height: 100%;
  width: auto;
}


.horizontal-scroll {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.scroll-item {
  flex-shrink: 0;
  width: 100vw;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-image {
  max-width: 100%;
  height: auto;
  object-fit: cover;
} */




.showcase-section {
  min-height: 100vh;
  padding: 10px 40px;
  position: relative;
}

.main-heading {
  font-size: 60px;
  width: 50%;

  position: absolute;
  z-index: 100;

}

.scroll-container {
  flex-wrap: nowrap;

  display: flex;

  height: 100vh;
  max-width: 400px;
}

.scroll-item {
  flex-shrink: 0;
  max-width: 400px;
  display: flex;
  justify-content: center;
  align-items: center;

}


.scroll-item:nth-of-type(even) {
  margin-top: auto;
}

.scroll-item:nth-of-type(odd) {
  margin-bottom: auto;
}

.scroll-image {
  max-width: 100%;
  max-height: 350px;

  height: 350px;
  object-fit: cover;
}


.horizontal-scroll {
  position: relative;
  height: 100vh;
  overflow: hidden;

}